<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Momentum</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
<div class=main>
        <div class="js-clock">             <h1>00:00</h1>
        </div>

       <form class="js-form form">
        <input type="text" placeholder="이름을 입력하세요." />
        </form>
        <h4 class="js-greetings greetings"></h4>
           <div class=todo>
    <form class="js-toDoForm">
        <input type="text" placeholder="오늘 해야할 일" >
    </form>
    <ul class="js-toDoList">
    </ul>
    </div>
    </div>
 
    <div class="weather">
    <span class="js-weather"></span>
    </div>
    <script src="/javascripts/clock.js"></script>
    <script src="/javascripts/greeting.js"></script>
    <script src="/javascripts/todo.js"></script>
    <script src="/javascripts/bg.js"></script>
    <script src="/javascripts/weather.js"></script>
</body>
</html>